[Unit]
Description=First boot of nodes managed by sNow!
After=network.target proc-fs-nfsd.mount rpcbind.service nfs-mountd.service
RequiresMountsFor=/sNow
[Service]
Type=forking
ExecStart=/usr/local/bin/first_boot start
ExecStop=/usr/local/bin/first_boot stop
[Install]
WantedBy=multi-user.target
