#
# Configuration file for the Xen instance slurmdb02, created
# by xen-tools 4.5 on Tue Oct 27 12:07:37 2015.
#

#
#  Kernel + memory size
#
kernel      = '/boot/vmlinuz-3.16.0-4-amd64'
extra       = 'elevator=noop'
ramdisk     = '/boot/initrd.img-3.16.0-4-amd64'

vcpus       = '1'
memory      = '2048'


#
#  Disk device(s).
#
root        = '/dev/xvda2 ro'
disk        = [
                  'file:/sNow/domains/slurmdb02/disk.img,xvda2,w',
                  'file:/sNow/domains/slurmdb02/swap.img,xvda1,w',
              ]


#
#  Physical volumes
#


#
#  Hostname
#
name        = 'slurmdb02'

#
#  Networking
#
vif         = [ 'ip=192.168.7.12 ,mac=76:fd:31:9e:12:01,bridge=xenbr7' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'



