#
# Configuration file for the Xen instance nis02, created
# by xen-tools 4.3.1 on Fri Feb 27 22:05:01 2015.
#

#
#  Kernel + memory size
#
kernel      = '/boot/vmlinuz-3.2.0-4-amd64'
ramdisk     = '/boot/initrd.img-3.2.0-4-amd64'

vcpus       = '1'
memory      = '512'

#
#  Disk device(s).
#
root        = '/dev/xvda1 ro'
disk        = [
                  'phy:/dev/snow_vg/nis02-disk,xvda1,w',
              ]


#
#  Physical volumes
#


#
#  Hostname
#
name        = 'nis02'

#
#  Networking
#
vif         = [ 'ip=172.16.1.100 ,mac=00:16:3E:3E:E0:18,bridge=xpub0' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'



