#
# Configuration file for the Xen instance nis01, created
# by xen-tools 4.3.1 on Fri Feb 27 21:38:07 2015.
#

#
#  Kernel + memory size
#
kernel      = '/boot/vmlinuz-3.2.0-4-amd64'
ramdisk     = '/boot/initrd.img-3.2.0-4-amd64'

vcpus       = '1'
memory      = '512'

#
#  Disk device(s).
#
root        = '/dev/xvda1 ro'
disk        = [
                  'phy:/dev/snow_vg/nis01-disk,xvda1,w',
              ]


#
#  Physical volumes
#


#
#  Hostname
#
name        = 'nis01'

#
#  Networking
#
vif         = [ 'ip=172.16.1.100 ,mac=00:16:3E:D1:F0:10,bridge=xpub0' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'



