[Unit]
Description=First boot of nodes managed by sNow! through CFEngine3
After=network.target
[Service]
Type=forking
PIDFile=/run/snow.pid
ExecStart=/usr/local/bin/cf_boot start
ExecStop=/usr/local/bin/cf_boot stop
[Install]
WantedBy=multi-user.target
